:root {
  --darkestGrey: #0c0c0d ;
  --orangeAccent: #ff9400;
}

body{
	background-color: #b1b1b3 !important;
	padding: 60px;
	font-family: 'Droid Sans', sans-serif;

}


/* Navbar */

.navbar{
  background-color: var(--darkestGrey) !important;
}

.navbar-brand{
  color: white !important;
  border-left: 1px solid var(--orangeAccent) !important;
  padding-left: 1rem;
}

.nav-link{
  color: white !important;
}

/*  */

/* Sign in */

.sign-in-card{
  background-color: #fafafa;
  border-radius: 0 0 0.5rem 0.5rem;
}

.sign-in-card h3{
  padding-left: 1rem;
  border-left: 1px solid var(--orangeAccent);
  margin: 1rem;
}

.sign-in-card p{
  position: relative;
}

.sign-in-card  p >i{
  position: absolute;
  top:-0.1rem;
  font-size:0.7rem;
}

  .sign-in-header{
    color: black;
  }

.btn-signup{
  background-color: var(--orangeAccent) !important;
  color: white !important;
  margin:0 0 1rem 0 !important;
}

/*  */



a{
  text-decoration: none;
}

.background-text{
  color: #999;
  font-size: 0.8rem;
}

.Instagram-card{
	background: #fafafa;
	border: 1px solid white;
	border-radius: 3px;
	width: 100%;
	max-width: 600px;
	margin: auto;
}

.Instagram-card-image{
  display: flex;
  justify-content: center;
}

.Instagram-card-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.Instagram-card-header{
	padding: 20px;
	height: 100%;
  /* background-color: #fafafa; */
}

.Instagram-card-user-image{
	border-radius: 50%;
	width: 40px;
	height: 40px;
	/* vertical-align: middle; */
}

.Instagram-card-time{
	float: right;
	width: auto;
	text-align: right;
  margin-right:20px;
  vertical-align: center;
  padding-top:5px;
	color: #999;
}

.Instagram-card-user-name{
	margin-left:20px;
	font-weight:bold;
  color: #262626;
}

.Instagram-card-content{
  padding: 20px;
}

.Likes{
  font-weight: bold;
}

.Instagram-card-content-user{
  font-weight: bold;
  color: var(--orangeAccent);
}

.hashtag{
  color: #003569;
}

.comments{
  color:#999;
}

.user-comment{
  color: #003569;
}

.Instagram-card-footer{
  padding: 20px;
  display: flex;
  align-items: center;
}

hr{
  border: none;
  border-bottom: 1px solid #ccc;
  margin-top: 30px;
  margin-bottom: 0px;
  padding-bottom: 0px;
 
}


.footer-action-icons{
  font-size: 16px;
  color: var(--orangeAccent);
}

.comments-input{
  border: none;
  margin-left: 10px;
  width: 100%;
}
