.post-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: auto;
    padding: 2rem;
    margin: 20px;
    border: 1px solid lightslategrey;
    border-radius: 0.2rem;
}

p{

}

.brand{
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: green;
    border-radius: 0.2rem;
    padding: 0.5rem;
}

.post-image img{
    width: 80%;
    height: auto;
}


.post-author{
    align-self: start;
    padding-left: 1rem;
    font-size: 2rem;
    text-transform: capitalize;
}

.post-image{

    width: 100%;

}

.post-image a{
    display: flex;
    justify-content: center;
}

.card-controls{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card-controls i{
    align-self: start !important;
}

.zoom {
    padding: 50px;
    transition: transform .2s;
    width: 200px;
    height: 200px;
    margin: 0 auto;
  }
  
  .zoom:hover {
    transform: scale(0.9);
  }

footer {
    color: black;
    padding-top: 2rem;
    font-family: roboto, sans-serif;
    text-align: center;
    margin: 0 auto;
}




