{% extends "base.html" %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="col-12">
        <div class="row flex-d justify-content-center">
            {% for post in posts %}
            <div class="post-card">
                <p class="post-author">{{ post.author }}</p>

                <img src="{{ post.featured_image.url}}" alt="">

                <div class="card-content">
                    <p>{{ post.caption}}</p>
                </div>

                <div class="card-controls">
                    <div>
                        <i class="far fa-heart"></i>
                        <i class="far fa-comment"></i>
                    </div>
                    <p>{{post.created_on}}</p>
                </div>

            </div>
            {% endfor %}

        </div>
    </div>
</body>

</html>
{%endblock%}