{% extends "base.html" %}

{% block content %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>

    </style>

</head>

<body>
    {% for post in posts %}
    <div class="Instagram-card">
        <div class="Instagram-card-header">
            {% if "placeholder" in post.author.profile.image.url %}
            <img src="https://w7.pngwing.com/pngs/304/275/png-transparent-user-profile-computer-icons-profile-miscellaneous-logo-monochrome-thumbnail.png"
                class="Instagram-card-user-image" alt="">
            {% else %}
            <img src="{{ post.author.profile.image.url }}" class="Instagram-card-user-image" alt="">
            {% endif %}
            <a class="Instagram-card-user-name" href="https://www.instagram.com/rogersbase/"> {{ post.author }} </a>
            <p class="Instagram-card-time"> {{post.date}} </p>
        </div>
        <div style="
        width: 100%;
        text-align:center;
        ">
            <h3>{{post.title}}</h3>
        </div>
        <div class="Instagram-card-image">
            <a href="{% url 'plants:post_detail' post.slug  %}">
                <img src="{{ post.featured_image.url}}" height="600px" alt=""
                    style="border-bottom: 2px dotted orange ;">
            </a>
        </div>

        <div class="Instagram-card-content">
            <p class="Likes">{{ post.number_of_likes}} likes</p>
            <p><a class="Instagram-card-content-user">
                    {{ post.author }}
                </a>
                {{ post.description }} <p class="background-text">
                    {{ post.created_on }}</p>
            </p>
            <!-- <p class="comments">1 comments</p> -->
            <!-- <br><a class="user-comment" href="https://www.instagram.com">exampleUser90789</a> Nice Plant!</br> -->
            {% if not post.comments.all %}
            <p class="text-muted">No Comments yet ...</p>
            {% else %}
            {% for comment in post.comments.all %}
            <div class="user-comment">
                <p>{{ comment.name }}</p>
                <p>&nbsp;-&nbsp; </p>
                <p>{{ comment.body }}&nbsp; </p>
                <p style="font-style:italic; color:lightgray;">{{ comment.date_added }}</p>
            </div>
            {% endfor %}
            {% endif %}
        </div>

        <div class="Instagram-card-footer d-flex justify-content-around">
            <!-- <a class="footer-action-icons" href="#"><i class="fa fa-heart"></i></a> -->
            <strong>
                {% if user.is_authenticated %}
                <form class="footer-action-icons" action="{% url 'plants:post_like' post.slug %}" method="post">
                    {% csrf_token %}
                    {% if liked %}
                    <button type="submit" name="blogpost_id" value="{{ post.slug}}" class="form-submit-button"><i
                            class="fa fa-heart footer-action-icons"></i></button>
                    {% else %}
                    <button type="submit" name="blogpost_id" value="{{ post.slug}}" class="form-submit-button"><i
                            class="fa fa-heart footer-action-icons" style="color:grey !important;"></i></button>
                    {% endif %}
                </form>
                {% else %}
                <span><i class="fa fa-heart footer-action-icons" style="color:grey !important;"></i></span>
                {% endif %}
            </strong>

            <!-- {% if user.is_authenticated %}
            <div class="form-group">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-secondary">Post</button>
            </div>

            {% else %}

            You're not allowed here! (and you know it...)

            {% endif %} -->
            <a href="{% url 'plants:post_detail' post.slug  %}" class="footer-action-icons a-link">Leave a
                comment...</a>

            <!-- <input class="comments-input" type="text" placeholder="Make a comment ..." /> -->
            <a class="footer-action-icons" href="#"><i class="fa fa-ellipsis-h"></i></a>
        </div>

    </div>
    {% endfor %}
</body>

</html>
{%endblock%}