{% extends 'base.html' %} {% block content %}

<div class="masthead">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 masthead-text">
                <h1 class="post-title">{{ post.caption }}</h1>
                <div style="display:flex; width:100%;">
                    {% if "placeholder" in post.author.profile.image.url %}
                    <img src="https://w7.pngwing.com/pngs/304/275/png-transparent-user-profile-computer-icons-profile-miscellaneous-logo-monochrome-thumbnail.png"
                        style="width: 50px; height: 50px; align-self: left;" alt="">
                    {% else %}
                    <img src="{{ post.author.profile.image.url }}" alt="">
                    {% endif %}
                    <p class="post-author">{{ post.author }}</p>
                </div>
                <p>{{post.created_on}}</p>
            </div>
            <div class="d-none d-md-block col-md-6 masthead-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="https://codeinstitute.s3.amazonaws.com/fullstack/blog/default.jpg" width="100%">
                {% else %}
                <img src=" {{ post.featured_image.url }}" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col mb-4  mt-3 left  top">
            <div>
                <p class="card-text ">
                    {{ post.content | safe }}
                </p>
                {% if not post.comments.all %}
                <p>No Comments yet ...</p>
                {% else %}
                {% for comment in post.comments.all %}
                <div class="user-comment">
                    <p>{{ comment.name }}</p>
                    <p>&nbsp;-&nbsp; </p>
                    <p>{{ comment.body }}&nbsp; </p>
                    <p style="font-style:italic; color:lightgray;">{{ comment.date_added }}</p>
                </div>
                {% endfor %}
                {% endif %}
                <div class="row">
                    <div class="col-1">
                        <!-- <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'plants:post_like' post.slug %}" method="post">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug}}" class="btn-like"><i 
                                    class="fas fa-heart"></i></button>
                                {% else %}
                                <button type="submit" name="blogpost_id" value="{{ post.slug}}" class="btn-like"><i 
                                    class="far fa-heart"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class="text-secondary"><i class="far fa-heart"></i></span>
                            {% endif %}
                            <span class="text-secondary">{{ post.number_of_likes}}</span>
                        </strong> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col" style="border-top: 2px dotted orange">
        </div>
    </div>

</div>

{% endblock content %}